@charset "utf-8";

@font-face {
  font-family: 'Logo';
  src: url('logo.woff') format('woff'),
}

/* 화면 너비가 767px 이하인 경우에만 스타일 적용 */
@media (max-width: 767px) {
  body {
    text-align: center;
    overflow-x: hidden; /* 수평 스크롤 숨김 */
  }

.home {
  height: 300px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.home h2 {
  font-family: 'Logo';
  font-size: 24px;
  margin: 0;
}

  .calender {
    margin: 0 50px 25px;
    background-color: #f0f0f0;
    max-width: 500px;
    height: 200px;
  }

  .notice {
    height: 70px;
    margin: 0 50px;
    background-color: #f0f0f0;
    max-width: 500px;
  }

  .buttonui btn {
    display: inline-block;
    background-color: #007bff;
    color: #fff;
    padding: 20px 20px;
    margin: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-weight: bold;
    text-decoration: none;
  }

  .buttonui .kakao {
    background-color: #ff5722;
  }

  /* 화면 높이 조절 */
  body, html {
    height: 100%;
  }

