@charset "utf-8";

@font-face {
  font-family: 'Logo';
  src: url('logo.woff') format('woff'),
}

@media (max-width: 767px) {
  body {
    text-align: center;
    overflow-x: hidden;
  }

  .nav-menu.show ul {
    display: block;
    right: 0; 
  }
}

.home {
  height: 200px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.home h2 {
  font-family: 'Logo';
  font-size: 40px;
  margin: 0;
}

  .calender {
    margin: 0 50px 25px;
    background-color: #f0f0f0;
    max-width: 500px;
    height: 200px;
  }

  .notice {
    height: 70px;
    margin: 0 50px;
    background-color: #f0f0f0;
    max-width: 500px;
  }

  .buttonui btn {
    display: inline-block;
    padding: 50px 50px;
    margin: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-weight: bold;
    text-decoration: none;
  }

  .somoim {
    background-image: url('somoim.png');
    background-size: cover;
  }

  .kakao {
     background-image: url('kakao.png');
    background-size: cover;
  }
    
  

  /* 화면 높이 조절 */
  body, html {
    height: 100%;
  }


/* 헤더 */
header {
  background-color: #fff;
  color: #333;
  padding: 10px 20px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}


/* 햄버거 메뉴 */
.menu-icon {
  font-size: 24px;
  cursor: pointer;
}

.nav-menu ul {
  list-style: none;
  padding: 0;
  display: none;
  position: fixed;
  top: 0;
  right: 0;
  width: 60%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  z-index: 999;
  transition: right 0.3s ease;
}

.nav-menu.show ul {
  display: block;
  right: 0;
  animation: slideIn 0.3s ease;
}

.nav-menu ul li {
  margin: 10px 0;
}

.nav-menu ul li a {
  text-decoration: none;
  color: #fff;
  font-size: 18px;
}

@keyframes slideIn {
  from {
    right: -100%; 
  }
  to {
    right: 0;
  }
}
