@charset "utf-8";

@font-face {
  font-family: 'Logo';
  src: url('logo.woff') format('woff'),
}

/* 화면 너비가 767px 이하인 경우에만 스타일 적용 */
@media (max-width: 767px) {
  body {
    text-align: center;
    overflow-x: hidden; /* 수평 스크롤 숨김 */
  }

.home {
  height: 200px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.home h2 {
  font-family: 'Logo';
  font-size: 40px;
  margin: 0;
}

  .calender {
    margin: 0 50px 25px;
    background-color: #f0f0f0;
    max-width: 500px;
    height: 200px;
  }

  .notice {
    height: 70px;
    margin: 0 50px;
    background-color: #f0f0f0;
    max-width: 500px;
  }

  .buttonui btn {
    display: inline-block;
    padding: 50px 50px;
    margin: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-weight: bold;
    text-decoration: none;
  }

  .somoim {
    background-image: url('somoim.png');
    background-size: cover;
  }

  .kakao {
     background-image: url('kakao.png');
    background-size: cover;
  }
    
  

  /* 화면 높이 조절 */
  body, html {
    height: 100%;
  }


/* 헤더 스타일 */
header {
  background-color: #fff;
  color: #333;
  padding: 10px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}


/* 햄버거 메뉴 아이콘 스타일 */
.menu-icon {
  font-size: 24px;
  cursor: pointer;
}

/* 네비게이션 메뉴 스타일 (초기에는 숨김) */
.nav-menu {
  display: none;
}

/* 네비게이션 메뉴 스타일 */
.nav-menu ul {
  list-style: none;
  padding: 0;
}

.nav-menu ul li {
  margin: 10px 0;
}

.nav-menu ul li a {
  text-decoration: none;
  color: #fff;
  font-size: 18px;
}
